@charset "UTF-8";

*{
    
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right,#E1BC85, #EDA76C);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #db712bab;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color:#590202;
    text-align: center;
    text-shadow: 1px 1px 2px #440101ad;
}

h2 {
    color:#DB722B;
}

p {
    text-align: justify;
}